@model PagedList.IPagedList<PharmacySysyem.ViewModel.ItemCardVM>
@using PagedList.Mvc;

                @if (Session["FullName"] != null)
                {
                    <p>Name: @Session["FullName"].ToString()</p>
                    <p>Email: @Session["Email"].ToString()</p>
                    <a href="@Url.Action("Logout","Home")" class="btn btn-warning">Logout</a>
                }
            

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "ItemCard";
}

<div class="panel-heading">
    <div class="modal-content " style=" background-color:rgba(255,255,255,0.40)">
        <h style="color:rgb(0, 0, 0);font-size:40px;margin-left:400px; font-weight:bold">Items List</h>
    </div>
</div>

@using (Html.BeginForm("Index", "ItemCardMaster", FormMethod.Get))
{
    <div class="row">
        <form class="pull-left">
            Find by name: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </form>
        <form class="pull-right">
            <button style="margin-right:10px" class="btn btn-primary pull-right" onclick="location.href='@Url.Action("Create", "ItemCardMaster")';return false;">Add New Item</button>
        </form>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Item NO.", "Index")
        </th>
        <th>
            @Html.ActionLink("Item Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Classification Name", "Index")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="SubmitForm">
            <td>
                @Html.DisplayFor(modelItem => item.ItemCardMasterID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassificationName)
            </td>
            <td>

                @Html.ActionLink("Edit", "Edit", new { id = item.ItemCardMasterID })|
                @Html.ActionLink("Details", "Details", new { id = item.ItemCardMasterID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ItemCardMasterID })
            </td>
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}


