@model IEnumerable<PharmacySysyem.Models.Supplier>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SupplierName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resp1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneResp1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resp2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneResp2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckStop)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resp1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneResp1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resp2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneResp2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckStop)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SupplierID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SupplierID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SupplierID })
        </td>
    </tr>
}

</table>
